.button {
    height: 2rem;
    border-radius: 4px;
    padding: 0.5rem;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--input-border);
    margin-bottom: 1rem;
}

.welcome {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.confirm {
    padding-bottom: 1rem;
}

.email {
    padding-bottom: 0.8rem;
}
