.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.spinner {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border: 10px dashed;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: #aaa;
    border-right-color: #555;
    border-bottom-color: #000;
    animation: spin 500ms infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
