.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    background-color: var(--header-color);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.logo {
    color: var(--logo-color);
    font-size: 2rem;
}

.link {
    color: var(--logo-color);
    margin-left: 10px;
}

.list {
    display: flex;
}
