.loginForm {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--header-color);
    padding: 2.5rem;
    box-shadow: 17px 17px 60px -5px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 17px 17px 60px -5px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 17px 17px 60px -5px rgba(0, 0, 0, 0.62);
    @media screen and (max-width: 360px) {
        padding: 1.5rem;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border-radius: 4px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 320px) {
        padding: 1rem;
    }
}

.button {
    border-radius: 4px;
    padding: 0.8rem 1.5rem;
    flex: 1;
    background-color: var(--logo-color);
    border: 1px solid var(--header-color);

    &:hover {
        background-color: var(--header-color);
        border: 1px solid var(--logo-color);
        color: var(--logo-color);
    }
    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    @media screen and (max-width: 330px) {
        padding: 0.5rem 0.8rem;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @media screen and (max-width: 370px) {
        flex-direction: column;
    }
}

.label {
    margin-bottom: 0.5rem;
}

.error {
    color: var(--error-color);
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 120%;
}

.checkbox {
    display: block;
    cursor: pointer;
    margin-bottom: 1rem;

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        clip: rect(0, 0, 0, 0);
        outline: none;
        position: absolute;
    }

    &__state {
        display: flex;
        align-items: center;
    }

    &__control {
        height: 28px;
        width: 28px;
        border-radius: 4px;
        background-color: var(--logo-color);
        box-sizing: border-box;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
        height: 10x;
        display: none;
    }
    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-left: 12px;
    }

    &__input:checked ~ &__state &__control {
        background-color: transparent;
        animation: pulse 0.5s;
    }

    &__input:checked ~ &__state &__icon {
        display: block;
    }

    &__input:focus ~ &__state &__label {
        text-decoration: underline;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #bdc3c7;
    }
    100% {
        box-shadow: 0 0 0 1.5rem rgba(189, 195, 199, 0);
    }
}
